<h5>Model backed form helpers</h5>
<% if @category.errors.any? %>
<%= @category.errors.full_messages.join(',') %>
<% end %> 


<%= form_for @category do |f| %>  
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <br/>
  <%= f.submit "Create Post" %>
  <% end %>